{% extends 'layout.html' %}

{% block content %}

<main class="new-trip-main">
    <div class="new-trip-container">
        <a class="home-redirect" href="{{ url_for('index') }}">
            <i class="icon fa-solid fa-arrow-left"></i>
            Back to Trips
        </a>
        <div class="new-trip-header">
            <h2 class="title">Plan Your Next Adventure</h2>
            <p class="subtitle">Where will your next journey take you? Add the details below to start planning.</p>
        </div>
        <div class="new-trip-form">
            <form class="new-trip-info" action="{{ url_for('create_trip')}}" method="post">
                <input class="destination" type="text" name="destination" value="{{ destination }}" placeholder="Trip Name" required>
                <input type="date" name="start-date" value="{{ start_date }}" placeholder="Start Date">
                <input type="date" name="end-date" value="{{ end_date }}" placeholder="End Date">

                <button class="btn-submit" type="submit">Create Trip</button>
            </form>
        </div>

    </div>
</main>
{% endblock %}