{% extends 'layout.html' %}


{% block header %}

        <h1>Hello, {{ first_name }}</h1>
        <h2>Where are you wandering to?</h2>
{% endblock %}

{% block content %}
{% for trip in trips %}
<a href="{{ url_for('trip_schedule', trip_id=trip.id) }}">
<div class="trip-card">
    <img src="" alt="icon">
    <div>
        <h1>{{ trip.destination }}</h1>
        <p>{{ trip.depart_date | formatted_title_date }} - {{ trip.return_date | formatted_title_date}}</p>
    </div>
</div>
</a>
{% endfor %}


<button><a href="{{ url_for('plan_new_trip') }}">Plan New Adventure</a></button>


{% endblock %}

