{% extends 'layout.html' %}
{% block content %}

<main class="trip-main">
    <div class="trip-container">
        <a class="home-redirect" href="{{ url_for('index') }}">
            <i class="icon fa-solid fa-arrow-left"></i>
            Back to Trips
        </a>

        <div class="trip-header">
            <div>
                <h2 class="trip-title">{{ trip.destination }}</h2>
                <div class="trip-dates">
                    <i class="icon fa-regular fa-calendar"></i>
                    <span class="trip-dates-text">{{ trip.depart_date | formatted_title_date }} - {{
                        trip.return_date |
                        formatted_title_date}}</span>
                </div>
            </div>
        </div>

        <div class="new-day-container">
            <form class="new-day-info" action="{{ url_for('add_new_plan', trip_id = trip.id) }}" method="post">
                <input type="date" name="date">
                <input class="activity-time" type="text" name="time" placeholder="HH:MM"
                            pattern='(1[0-2]|0?[1-9]):[0-5][0-9]\s?(am|pm|AM|PM)'>
                <input class="activity-title" type="text" name="activity" placeholder="Activity" required>
                <input class="activity-note" type="text" name="note" placeholder="Notes">
                <input class="activity-cost" type="text" name="cost"  inputmode="decimal" pattern="^\d{1,3}(,\d{3})*(\.\d{1,2})?$|^\d+(\.\d{1,2})?$"
 placeholder="$">
                <button class="btn-create"><i class="icon fa-solid fa-plus"></i> New
                </button>
            </form>
        </div>


        <div class="itinerary">
            {% if not plans_by_date.items() %}
            <p class="no-activity">You don't have any plans yet!</p>
            {% endif %}

            {% for date, activities in plans_by_date.items() %}
            <div class="itinerary-card">
                <div class="day-header">
                    <div class="day-info">
                        <h3 class="day-title">{{ date | formatted_date }}</h3>
                    </div>
                    <div class="trip-actions">
                        <form
                            action="{{ url_for('delete_trip_day', trip_id=trip.id, day='no_date' if date=='No Dates' else date) }}"
                            method="post">
                            <button class="btn-delete" type="submit"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>

                <div class="day-activities">
                    <div class="activity-label">
                        <p>Time</p>
                        <p>Activity</p>
                        <p class="note">Notes</p>
                        <p>Cost</p>
                        <p>Actions</p>

                    </div>
                    {% for act in activities %}
                    <div class="activity">
                        <p class="activity-time">{{ act.at_time | formatted_time}}</p>
                        <p class="activity-title"> {{ act.activity }}</p>

                        <p class="activity-note">{{ act.note | safe_default }}</p>
                        <p class="activity-cost">{{ act.cost |safe_default_money }}</p>

                        <div class="trip-actions">
                            <form action="" method="post">
                                <button class="btn-edit" type="submit"><i class="icon fa-solid fa-pen"></i></button>
                            </form>
                            <form action="{{ url_for('delete_activity', trip_id=trip.id, activity_id=act.id) }}" method="post">
                                <button class="btn-delete" type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>

                        </div>
                    </div>
                    {% endfor %}

                    <form class="day-actions" action="{{ url_for('add_new_plan', trip_id = trip.id)}}" method="post">
                        <input type="date" name="date" value="{{ date }}" hidden>
                        <input type="text" name="time" placeholder="HH:MM"
                            pattern='(1[0-2]|0?[1-9]):[0-5][0-9]\s?(am|pm|AM|PM)'>
                        <input type="text" name="activity" placeholder="Add Activity">
                        <input type="text" name="note" placeholder="Notes">
                        <input type="text" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" name="cost" placeholder="$">

                        <div>
                            <button class="btn-add" type="submit"><i class="icon fa-solid fa-plus"></i></button>
                        </div>

                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock%}