<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
    <title>wanderly</title>
</head>

<body>
    <header>
        {% if session['user_id'] %}
        <nav>
            <form action="{{ url_for('signout') }}" method="post">
                <button type="submit">Sign Out</button>
            </form>
        </nav>
        {% endif %}

        {% block header %}
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>