<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">

    <script src="https://kit.fontawesome.com/7d6b499532.js" crossorigin="anonymous"></script>
    <title>wanderly</title>
</head>

<body>
    <div class="logo">
        <i class="logo-icon fa-regular fa-compass fa-2x fa-spin"></i>
        <h1 class="logo-text">wanderly</h1>
    </div>

    <header>
        {% if session['user_id'] %}
        <nav>
            <form action="{{ url_for('signout') }}" method="post">
                <button type="submit">Sign Out</button>
            </form>
        </nav>
        {% endif %}

        {% block header %}
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>