{% extends 'layout.html' %}


{% block content %}
<main class="auth-main">
    <div class="auth-container">
        <div class="auth-logo">
            <i class="logo-icon fa-regular fa-compass fa-2x fa-spin"></i>
            <h1 class="logo-text">wanderly</h1>
        </div>
        <div class="auth-greeting">
            <h2 class="auth-title">Welcome Back</h2>
            <p class="auth-subtitle">Login to continue your adventures!</p>
        </div>
        <div class="auth-form">
            <form class="auth-info" action="{{ url_for('login') }}" method="post">

                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">

                <button class="btn-submit" type="submit">Login</button>
            </form>
        </div>

        <p class="auth-redirect">Don't have an account? <a href="{{ url_for('show_signup_form')}}">Sign Up</a></p>
    </div>
</main>

{% endblock %}