{% extends 'layout.html' %}

{% block header %}
 <h2>Welcome Back</h2>
<p>Login to continue your adventures!</p>
{% endblock%}

{% block content %}
<div>
    <form action="" method="post">

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="yourname@email.com">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <button type="submit">Login</button>
    </form>
     <p>Don't have an account? <a href="{{ url_for('show_signup_form')}}">Sign Up</a></p>
</div>
{% endblock %}