/* Root Variables */
:root {
  /* Colors */
  --primary-blue: #3b9fd9;
  --primary-orange: #e8956f;
  --light-blue: #83ACD0;
  --text-dark: #1a1a1a;
  --text-gray: #888888;

  /* Typography */
  --font-title: 'Lavishly Yours', cursive;
  --font-heading: 'Funnel Display', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body: 'Lato', -apple-system, BlinkMacSystemFont, 'sans-serif'
}

/* Background Gradient */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #d4e8f0 0%,
    #e8d4c8 50%,
    #f5e6d3 100%
  );
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 40px;
}

.logo-icon {
  color: var(--light-blue);
  margin-top: 1rem;
}

.logo-text {
  font-family: 'Lavishly Yours', cursive;
  font-size: 4rem;
  font-weight: 400;
  background: linear-gradient(0.25turn, var(--primary-blue), var(--primary-orange), var(--primary-blue));
    -webkit-text-fill-color: transparent;
    background-clip: text;

}


.trip-card{
    display: flex;
    border: 1px black solid
}


.itinerary-container{
    display: flex;
    flex-direction: column;
}


.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}
