/* Root Variables */
:root {
  /* Colors */
  --primary-blue: #3b9fd9;
  --primary-orange: #e8956f;
  --light-blue: #83ACD0;
  --text-dark: #1a1a1a;
  --text-gray: #888888;

  /* Typography */
  --font-title: 'Funnel Display', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-heading: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body: 'Geologica', -apple-system, BlinkMacSystemFont, 'sans-serif'
}

/* Background Gradient */
body {
  margin: 0;
  padding: 3rem 5rem;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  min-width: 320px;
  background: linear-gradient(to bottom right,
      #d4e8f0 0%,
      #e8d4c8 50%,
      #f5e6d3 100%);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
}

@media(max-width: 480px) {
  body {
    padding: 0.2rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  align-items: center;
}

.btn-edit,
.btn-delete{
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  background: rgba(255, 255, 255, 0.5);

}

.btn-create{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-family: var(--font-body);
  color: var(--text-dark);
}

.btn-edit:hover {
  background: var(--light-blue);
  color: white;
}

.btn-delete:hover {
  background: #e74c3c;
  color: white;
}

.btn-create:hover {
  background: var(--primary-orange);
  color: white;
}