.trip-main {
  display: flex;
  width: 100%;
}

.trip-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trip-header {
  display: flex;
  padding: 2rem 0;
  align-items: flex-start;
}

.trip-title {
  margin: 0 0.5rem 0 0;
}

.trip-dates {
  margin: 0.5rem 0;
  color: var(--text-gray);
}

.trip-add-day {
  margin: 0 0 3rem 0;
}

/* Fix this later */
.itinerary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1.5rem;
}

.itinerary-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.day-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.day-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.day-activities {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr 2fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem 1rem;
  padding: 1.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}


.day-actions,
.activity,
.activity-label {
display: contents;
}



.activity-label>p {
  font-family: var(--font-heading);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.activity>p {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 200;
  display: flex;
  align-items: start;
}

.day-actions input{
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  align-self: center;
}


.activity > .activity-title{
  font-weight: 300;
}

@media (max-width: 640px) {

  .itinerary{
      grid-template-columns: 1fr
  }
  .itinerary-day{
    min-width: 250px;
  }

  .day-activities{
      grid-template-columns: 2fr 3fr 2fr 1fr;
  }

  .activity-label > .note, .activity > .activity-note,
  .day-actions {
    display: none;
  }
}