.trip-main {
  display: flex;
  width: 100%;
}

.trip-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trip-header {
  display: flex;
  padding: 2rem 0;
  align-items: flex-start;
}

.trip-title {
  margin: 0;
}

.trip-dates {
  margin: 0.5rem 0;
  color: var(--text-gray);
}

.trip-add-day {
  margin: 0 0 3rem 0;
}

/* Fix this later */
.itinerary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 2rem;
}

.itinerary-day{
  max-width: 800px;
}

.itinerary-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.day-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.day-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.day-activities {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.activity,
.activity-label,
.day-actions {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.day-actions,
.activity,
.activity-label {
  grid-template-columns: 1fr 1fr 2fr 0.5fr 0.5fr;
}

.day-actions input,
.day-actions button {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  align-self: center;
}

.activity-label>p {
  font-family: var(--font-heading);
  font-weight: 600;
  margin: 0;
}

.activity>p {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 200;
}

@media (max-width: 640px) {
  .day-actions, .activity {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .activity-label, .activity-note, .day-actions{
    display: none;
  }
}