.trip-main {
  display: flex;
  width: 100%;
}

.trip-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trip-header {
  display: flex;
  padding: 2rem 0;
  align-items: flex-start;
}

.trip-title {
  margin: 0 0.5rem 0 0;
}

.trip-dates {
  margin: 0.5rem 0;
  color: var(--text-gray);
}

.new-day-container {
  margin: 0 0 3rem 0;
  display: flex;
  width: 100%;
  min-width: 200px;
}

.new-day-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: start;
}

.new-day-info input {
  padding: 0.5rem;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: var(--font-body);
  width: 7.5rem;
}

.new-day-info .activity-cost{
  width: 4rem;
}

.new-day-info input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 864px) {

  .new-day-info input,
  .new-day-info .activity-cost,
  .new-day-info .activity-time {
    width: auto;
  }

  .new-day-info {
    flex-direction: column;
  }

}


.itinerary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 0.3fr));
  justify-content: center;
  gap: 1.5rem;
}

.itinerary .no-activity {
  display: flex;
  justify-content: center;
}

.itinerary-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.day-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.day-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.day-activities {
  display: grid;
  grid-template-columns: 80px 3fr 4fr 1fr auto;
  grid-auto-rows: auto;
  gap: 0.5rem 1rem;
  padding: 1.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.day-activities:hover {
  transform: translate(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}


.day-actions,
.activity,
.activity-label,
form.activity {
  display: contents;
}


.activity-label>p {
  font-family: var(--font-heading);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.activity>p {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 200;
  display: flex;
  align-items: start;
}

form.activity input {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
  padding: 0.5rem;
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: none;
}

form.activity input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.day-actions input {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
  background: none;
}

.day-actions input:active,
.day-actions input:focus {
  border-bottom: 2px solid var(--primary-orange);
  outline: none;
}

.day-actions input:active::placeholder,
.day-actions input:focus::placeholder {
  color: var(--primary-orange);
}


.activity>.activity-title {
  font-weight: 300;
}

@media (max-width: 640px) {

  .itinerary {
    grid-template-columns: 1fr
  }

  .itinerary-day {
    min-width: 250px;
  }

  .day-activities {
    grid-template-columns: 2fr 3fr 2fr 1fr;
  }

  .activity-label>.note,
  .activity>.activity-note,
  .day-actions {
    display: none;
  }
}